In [1]:
import pandas as pd
from sqlalchemy import create_engine,inspect

In [2]:
### Top 10 netflix
csv_file = "Resources/all-weeks-countries.csv"
Top_10_df = pd.read_csv(csv_file)
Top_10_df.head()

## Transformation 

Top_10_df_refined = Top_10_df[["country_name","country_iso2","week","weekly_rank","show_title","cumulative_weeks_in_top_10"]].copy()
Top_10_df_refined = Top_10_df_refined.dropna()

In [3]:
# Netflix title 
csv_file = "Resources/netflix_titles.csv"
Titles_df = pd.read_csv(csv_file)
Titles_df.head()

## Transformation 

Titles_df_refined = Titles_df[["type","title","director","date_added","release_year","rating","duration"]].copy()

Titles_df_refined

,type,title,director,date_added,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,"September 25, 2021",2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,"September 24, 2021",2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,"September 24, 2021",2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,"September 24, 2021",2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,"September 24, 2021",2021,TV-MA,2 Seasons
...,...,...,...,...,...,...,...
8802,Movie,Zodiac,David Fincher,"November 20, 2019",2007,R,158 min
8803,TV Show,Zombie Dumb,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons
8804,Movie,Zombieland,Ruben Fleischer,"November 1, 2019",2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,"January 11, 2020",2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,"March 2, 2019",2015,TV-14,111 min

In [4]:
#filter by dates we have >Sep 25,2021
Top_10_df_refined = Top_10_df_refined[Top_10_df_refined["week"] <= '2021-09-25']
Top_10_df_refined
Top_10_df_refined.rename(columns = {"show_title":'title'}, inplace = True)
Top_10_df_refined

,country_name,country_iso2,week,weekly_rank,title,cumulative_weeks_in_top_10
480,Argentina,AR,2021-09-19,1,The Marksman,1
481,Argentina,AR,2021-09-19,2,The Equalizer 2,2
482,Argentina,AR,2021-09-19,3,The Father Who Moves Mountains,1
483,Argentina,AR,2021-09-19,4,First Kill,1
484,Argentina,AR,2021-09-19,5,Kate,2
...,...,...,...,...,...,...
67655,Vietnam,VN,2021-07-04,6,Reply 1988,1
67656,Vietnam,VN,2021-07-04,7,"Nevertheless,",1
67657,Vietnam,VN,2021-07-04,8,Too Hot to Handle,1
67658,Vietnam,VN,2021-07-04,9,Record of Ragnarok,1
67659,Vietnam,VN,2021-07-04,10,Crash Landing on You,1

In [5]:
# replacing date to something workable in titles 
from datetime import datetime as dt


dates =[]

#droping all nan date added
Titles_df_refined = Titles_df_refined.dropna(subset= ["date_added"])


#itterate through rows and convert dates 
for index, row in Titles_df_refined.iterrows():
    s=str(row["date_added"])
    try:
        format = '%B %d, %Y'
        d=dt.strptime(s,format)
        date = (d.strftime('%Y-%m-%d'))
        dates.append(date)
    except:
        format = ' %B %d, %Y'
        d=dt.strptime(s,format)
        date = (d.strftime('%Y-%m-%d'))
        dates.append(date)
        


Titles_df_refined["date_added"] = dates
Titles_df_refined

C:\Users\PC\AppData\Local\Temp/ipykernel_556/446532860.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Titles_df_refined["date_added"] = dates

,type,title,director,date_added,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,2021-09-25,2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,2021-09-24,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,2021-09-24,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,2021-09-24,2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,2021-09-24,2021,TV-MA,2 Seasons
...,...,...,...,...,...,...,...
8802,Movie,Zodiac,David Fincher,2019-11-20,2007,R,158 min
8803,TV Show,Zombie Dumb,NaN,2019-07-01,2018,TV-Y7,2 Seasons
8804,Movie,Zombieland,Ruben Fleischer,2019-11-01,2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,2020-01-11,2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,2019-03-02,2015,TV-14,111 min

In [6]:
Titles_df_refined

,type,title,director,date_added,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,2021-09-25,2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,2021-09-24,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,2021-09-24,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,2021-09-24,2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,2021-09-24,2021,TV-MA,2 Seasons
...,...,...,...,...,...,...,...
8802,Movie,Zodiac,David Fincher,2019-11-20,2007,R,158 min
8803,TV Show,Zombie Dumb,NaN,2019-07-01,2018,TV-Y7,2 Seasons
8804,Movie,Zombieland,Ruben Fleischer,2019-11-01,2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,2020-01-11,2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,2019-03-02,2015,TV-14,111 min

In [7]:
Titles_df_refined['director'] = Titles_df_refined['director'].fillna('Unknown')
Titles_df_refined

C:\Users\PC\AppData\Local\Temp/ipykernel_556/44403844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Titles_df_refined['director'] = Titles_df_refined['director'].fillna('Unknown')

,type,title,director,date_added,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,2021-09-25,2020,PG-13,90 min
1,TV Show,Blood & Water,Unknown,2021-09-24,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,2021-09-24,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,Unknown,2021-09-24,2021,TV-MA,1 Season
4,TV Show,Kota Factory,Unknown,2021-09-24,2021,TV-MA,2 Seasons
...,...,...,...,...,...,...,...
8802,Movie,Zodiac,David Fincher,2019-11-20,2007,R,158 min
8803,TV Show,Zombie Dumb,Unknown,2019-07-01,2018,TV-Y7,2 Seasons
8804,Movie,Zombieland,Ruben Fleischer,2019-11-01,2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,2020-01-11,2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,2019-03-02,2015,TV-14,111 min

### Connect to database

In [8]:
rds_connection_string = "postgres:P0stgres@localhost:5432/ETL_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
inspector.get_table_names()

['movies', 'movies_rank']

In [20]:
#Load the dataframes to SQL database
Titles_df_refined.to_sql(name='movies', con=engine, if_exists='append', index=False)

In [21]:
Top_10_df_refined.to_sql(name='movies_rank', con=engine, if_exists='append', index=False)

In [22]:
#Confirm data has been added by querying the movies table
pd.read_sql_query('select * from movies', con=engine).head()

,title,date_added,release_year,type,director,rating,duration
0,Dick Johnson Is Dead,2021-09-25,2020,Movie,Kirsten Johnson,PG-13,90 min
1,Blood & Water,2021-09-24,2021,TV Show,Unknown,TV-MA,2 Seasons
2,Ganglands,2021-09-24,2021,TV Show,Julien Leclercq,TV-MA,1 Season
3,Jailbirds New Orleans,2021-09-24,2021,TV Show,Unknown,TV-MA,1 Season
4,Kota Factory,2021-09-24,2021,TV Show,Unknown,TV-MA,2 Seasons

In [23]:
#Confirm data has been added by querying the movies_rank table
pd.read_sql_query('select * from movies_rank', con=engine).head()

,title,week,country_name,country_iso2,weekly_rank,cumulative_weeks_in_top_10
0,The Marksman,2021-09-19,Argentina,AR,1,1
1,The Equalizer 2,2021-09-19,Argentina,AR,2,2
2,The Father Who Moves Mountains,2021-09-19,Argentina,AR,3,1
3,First Kill,2021-09-19,Argentina,AR,4,1
4,Kate,2021-09-19,Argentina,AR,5,2